#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  div.header a img.logo.react {
    animation: logo-spin infinite 20s linear;
  }
}

.App {
  width: fit-content;
  height: fit-content;
}

.card {
  height: 15em;
  padding: 1.5em;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 0 5px 2px #0000004d;
  transform-style: preserve-3d;
  font-weight: 700;
  height: 250px;
  cursor: pointer;
  transition: .40s;
  transform: perspective(1000px) rotateX(var(--rotate-X, 0))
}

.card:hover {
  box-shadow: 0 0 5px 2px #00000080;
  cursor: pointer;
  padding: 1.5em;
  margin: 0 auto;
  text-align: center;
}

.card.flip {
  --rotate-X: 180deg
}

.card .front, .card .back {
  position: absolute;
  padding: 5px;
  justify-content: center;
  backface-visibility: hidden
}

.card .back {
  transform: rotateX(180deg)
}